@import "../../scss/variables.scss";

.notification {
  position: absolute;
  width: 98%;
  max-width: 300px;
  background: $ep-grey-normal_active;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  z-index: 9999;
  border-radius: $ep-border-radius;
  padding: 7px;
  box-shadow: $ep-box-shadow;
  transition: $ep-transition;

  &-center {
    //   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-top {
    top: 10px;
    left: 1%;
  }
  &-bottom {
    bottom: 10px;
    left: 1%;
  }
  &-hide {
    animation: easeOut 0.5s ease-out;
  }
  .notification-text {
    font-size: $ep-font-size-sm;
    font-weight: $ep-font-weight-semibold;
    color: $ep-grey-light_hover;
    text-align: center;
  }
}

.success {
  background: $ep-primary-green;
  .notification-text {
    color: #fff;
  }
}
.error {
  background: $ep-primary-red;
  .notification-text {
    color: #fff;
  }
}
.warning {
  background: $ep-primary-yellow;
  .notification-text {
    color: #fff;
  }
}

// animations
@keyframes easeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
