@import "../../scss/variables.scss";

.wtw_container {
  width: 100%;
  max-width: 427px;
  height: fit-content;
  min-height: 177px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 5px;
  overflow: hidden;
  background: $ep-grey-normal;
  box-shadow: $ep-box-shadow;
  border-radius: $ep-border-radius;
  position: absolute;
  transform: translate(-30%, 65%);

  .wtw_title-container {
    width: 100%;
    .wtw_title {
      font-size: $ep-font-size-md;
      font-weight: $ep-font-weight-bold;
      color: $ep-grey-light_hover;
      text-align: left;
    }
    .wtw_subtitle {
      font-size: $ep-font-size-xs;
      font-weight: $ep-font-weight-medium;
      color: $ep-grey-light_active;
      text-align: left;
    }
  }

  .wtw_input-container {
    width: 100%;
    height: fit-content;
    min-height: 100%;
    border-radius: $ep-border-radius;
    background: $ep-grey-dark;
    overflow: hidden;

    .textarea {
      width: 100%;
      padding: 5px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      flex-wrap: wrap;
      gap: 5px;

      .wtw_input {
        border: none;
        color: $ep-grey-light_hover;
        font-weight: $ep-font-weight-bold;
        font-size: $ep-font-size-xs;
        background: transparent;
        outline: none;
        caret-color: $ep-primary-green;
        caret-color: $ep-primary-green;
        caret-width: 2px;
        caret-style: solid;
        caret-offset: 0;
        caret-opacity: 1;
      }
      .wtw_input-word {
        font-size: $ep-font-size-xs;
        line-height: 0px;
        font-weight: $ep-font-weight-bold;
        color: $ep-grey-light_hover;
        padding: 2px 8px;
        background: $ep-grey-normal_active;
        border-radius: $ep-border-radius;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1rem;
        margin: 0;

        p {
          margin: 0;
          padding: 0;
          line-height: 1em;
        }
      }
    }
  }
}
