@import "../../scss/variables.scss";

.custom-btn {
  width: 100%;
  color: $ep-grey-lighter;
  background-color: $ep-grey-dark;
  border: none;
  border-radius: $ep-border-radius-btn;
  font-size: $ep-font-size-sm;
  font-weight: $ep-font-weight-bold;
  padding: 3px;
  transition: $ep-transition;
  cursor: pointer;

  &:hover {
    color: $ep-grey-light_hover;
    background-color: $ep-grey-dark_hover;
  }

  &:active {
    transition: all 3ms ease-in-out;
    color: $ep-grey-light_active;
    background-color: $ep-grey-dark_active;
    transform: scaleX(0.98);
  }
  &-clear {
    background-color: $ep-grey-normal_hover;

    &:hover {
      color: $ep-grey-light_hover;
      background-color: $ep-grey-dark_hover;
    }

    &:active {
      transition: all 3ms ease-in-out;
      color: $ep-grey-light_active;
      background-color: $ep-grey-dark_active;
    }
  }
  &-primary {
    background-color: $ep-primary-green;
    color: $ep-grey-normal_active;

    &:hover {
      color: $ep-grey-dark;
      background-color: $ep-primary-green_hover;
    }

    &:active {
      transition: all 3ms ease-in-out;
      color: $ep-grey-dark_darker;
      background-color: $ep-primary-green_active;
    }
  }
}
