@import "../../scss/variables.scss";

.custom-btn {
  width: 100%;
  color: $ep-grey-lighter;
  background-color: $ep-grey-dark;
  border: none;
  border-radius: $ep-border-radius-btn;
  font-size: $ep-font-size-sm;
  font-weight: $ep-font-weight-bold;
  padding: 3px auto;
}
