@import "../../scss/variables.scss";

.custom-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 18px;
  font-size: 1.5rem;
  font-family: $ep-font-family;
  font-weight: $ep-font-weight-bold;
  color: $ep-grey-light_active;
  background-color: $ep-grey-dark_hover;
  transition: all 0.3s ease-in-out;
  border-radius: 11px;
  text-align: center;
  font-size: $ep-font-size-md;

  &::placeholder {
    color: $ep-grey-normal_active;
    transition: $ep-transition;
  }

  &:hover {
    background-color: $ep-grey-dark_hover;

    &::placeholder {
      color: $ep-grey-normal_hover;
    }
  }

  @media screen and (max-width: 300px) {
    font-size: $ep-font-size-sm;
  }

  @media screen and (min-width: 768px) {
    font-size: $ep-font-size-lg;
  }

  &-correct {
    // ! IMPORTANT: if you need to change the  animation duration you need to change
    // ! it in the CustomInput.js file on setTimout too, to the same value
    animation: exitColorCorrect 0.5s ease-in-out;
  }

  &-incorrect {
    // ! IMPORTANT: if you need to change the  animation duration you need to change
    // ! it in the CustomInput.js file on setTimout too, to the same value
    animation: exitColorIncorrect 0.5s ease-in-out;
  }
}

// ANUMATION
@keyframes exitColorCorrect {
  0% {
    background-color: $ep-primary-green;
  }
  100% {
    background-color: $ep-grey-dark_hover;
  }
}
@keyframes exitColorIncorrect {
  0% {
    background-color: $ep-primary-red;
  }
  100% {
    background-color: $ep-grey-dark_hover;
  }
}
