$ep-grey-lighter: #ababab;
$ep-grey-light_hover: #9b9b9b;
$ep-grey-light_active: #868686;

$ep-grey-normal: #454545;
$ep-grey-normal_hover: #3b3b3b;
$ep-grey-normal_active: #323232;

$ep-grey-dark: #181818;
$ep-grey-dark_darker: #141414;
$ep-grey-dark_hover: #111111;
$ep-grey-dark_active: #080808;
