$ep-grey-lighter: #ababab;
$ep-grey-light_hover: #9b9b9b;
$ep-grey-light_active: #868686;

$ep-grey-normal: #454545;
$ep-grey-normal_hover: #3b3b3b;
$ep-grey-normal_active: #323232;

$ep-grey-dark: #181818;
$ep-grey-dark_darker: #141414;
$ep-grey-dark_hover: #111111;
$ep-grey-dark_active: #080808;

$ep-font-family: "Open Sans", sans-serif;

// Font sizes
$ep-font-size-xs: 0.618rem;
$ep-font-size-sm: 1rem;
$ep-font-size-md: 1.618rem;
$ep-font-size-lg: 2.618rem;
$ep-font-size-xl: 4.236rem;
$ep-font-size-xxl: 6.854rem;
