$ep-grey-lighter: #ababab;
$ep-grey-light_hover: #9b9b9b;
$ep-grey-light_active: #868686;

$ep-grey-normal: #454545;
$ep-grey-normal_hover: #3b3b3b;
$ep-grey-normal_active: #323232;

$ep-grey-dark: #181818;
$ep-grey-dark_darker: #141414;
$ep-grey-dark_hover: #111111;
$ep-grey-dark_active: #080808;

$ep-primary-green: #23ce6b;
$ep-primary-red: #ef6f6c;

$ep-font-family: "Open Sans", sans-serif;

// Font sizes
$ep-font-size-xs: 0.718rem;
$ep-font-size-sm: 1rem;
$ep-font-size-md: 1.618rem;
$ep-font-size-lg: 2.618rem;
$ep-font-size-xl: 4.236rem;
$ep-font-size-xxl: 6.854rem;

// Font weights
$ep-font-weight-thin: 100;
$ep-font-weight-light: 300;
$ep-font-weight-regular: 400;
$ep-font-weight-medium: 500;
$ep-font-weight-semibold: 600;
$ep-font-weight-bold: 700;
$ep-font-weight-black: 900;

// transition
$ep-transition: all 0.3s ease-in-out;

// shadows
$ep-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.35);

// Border radius
$ep-border-radius: 11px;
